:root{
    --shadow: 0px 0px 20px rgba(0, 0, 0, 0.146);
    
    --shade-1: rgb(31, 31, 31);
    --shade-2: rgb(40, 40, 40);
    --shade-3: rgb(60, 60, 60);
    --shade-4: rgb(80, 80, 80);
    --shade-5: rgb(100, 100, 100);
    
    --radius-1: 10px;

    --anim-speed-1: 0.5s;
}

/* log complex */
.log-add-new-subject-button{
    height: 7px;
    transition: all var(--anim-speed-1) ease;
    background-color: transparent;
    border-radius: var(--radius-1);
}

.log-add-new-subject-button:hover{
    color: black;
    background-color: white;
    cursor: copy;
}

.log-subject-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.log-subject-sub-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.log-subject-and-graph-container{
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
    flex-direction: row;
    height: fit-content;
    padding: 20px;
}
/* webkit */
::-webkit-scrollbar{
    display: none;
}

/* animations */

@keyframes fade-in {
    from{
        scale: 0;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

@keyframes fade-out {
    from{
        scale: 1;
        opacity: 1;
    }
    to{
        scale: 0;
        opacity: 0;
    }
}